useDynLib(StepReg, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "deviance", "df.residual", "lm", "pf", "coef", "fitted", "glm", "pchisq")
importFrom("utils", "combn")
exportPattern("^[[:alpha:]]+")